PORT=4000
JWT_ACCESS_SECRET=change-me-access-secret
AUTH_SERVICE_URL=http://localhost:4001
USER_SERVICE_URL=http://localhost:4002
PRODUCT_SERVICE_URL=http://localhost:4003
CART_SERVICE_URL=http://localhost:4004
ORDER_SERVICE_URL=http://localhost:4005
CORS_ORIGIN=*
RATE_LIMIT_MAX=200
NODE_ENV=development
